{{ define "main" }}
    <main aria-role="main">
      <!--><header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>-->
      <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>
      <div>
        <!-- Note that .Pages is the same as .Site.RegularPages on the homepage template. -->

{{ $truncate := default true .Site.Params.truncate }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
{{ range $paginator.Pages }}
{{ if $truncate }}
{{ .Render "summary" }}
{{ else }}
{{ .Render "content" }}
{{ end }}
{{ end }}
        
        
{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="blog-pagination">
  {{ if and (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <a class="btn btn-outline-primary" href="{{ .Paginator.Prev.URL }}" rel="prev" role="button">{{ i18n "paginatorPrevious" }}</a>
  <a class="btn btn-outline-primary" href="{{ .Paginator.Next.URL }}" rel="next" role="button">{{ i18n "paginatorNext" }}</a>
  {{ end }}
  {{ if and (.Paginator.HasPrev) (not .Paginator.HasNext) }}
  <a class="btn btn-outline-primary" href="{{ .Paginator.Prev.URL }}" rel="prev" role="button">{{ i18n "paginatorPrevious" }}</a>
  <a class="btn btn-outline-primary disabled" href="#" role="button" aria-disabled="true">{{ i18n "paginatorNext" }}</a>
  {{ end }}
  {{ if and (not .Paginator.HasPrev) (.Paginator.HasNext) }}
  <a class="btn btn-outline-primary disabled" href="#" role="button" aria-disabled="true">{{ i18n "paginatorPrevious" }}</a>
  <a class="btn btn-outline-primary" href="{{ .Paginator.Next.URL }}" rel="next" role="button">{{ i18n "paginatorNext" }}</a>
  {{ end }}
</nav>
{{ end }}
        
      </div>
    </main>
{{ end }}